set_io Tile_X0Y1_A Tile_X0Y1.A
set_io Tile_X0Y1_B Tile_X0Y1.B
set_io Tile_X9Y1_A Tile_X9Y1.A
set_io Tile_X9Y1_B Tile_X9Y1.B
set_io Tile_X9Y1_C Tile_X9Y1.C
set_io Tile_X9Y1_D Tile_X9Y1.D
set_io Tile_X9Y1_E Tile_X9Y1.E
set_io Tile_X9Y1_F Tile_X9Y1.F
set_io Tile_X9Y1_G Tile_X9Y1.G
set_io Tile_X9Y1_H Tile_X9Y1.H
set_io Tile_X9Y1_I Tile_X9Y1.I
set_io Tile_X9Y1_J Tile_X9Y1.J
set_io Tile_X9Y1_K Tile_X9Y1.K
set_io Tile_X0Y2_A Tile_X0Y2.A
set_io Tile_X0Y2_B Tile_X0Y2.B
set_io Tile_X9Y2_A Tile_X9Y2.A
set_io Tile_X9Y2_B Tile_X9Y2.B
set_io Tile_X9Y2_C Tile_X9Y2.C
set_io Tile_X9Y2_D Tile_X9Y2.D
set_io Tile_X9Y2_E Tile_X9Y2.E
set_io Tile_X9Y2_F Tile_X9Y2.F
set_io Tile_X9Y2_G Tile_X9Y2.G
set_io Tile_X9Y2_H Tile_X9Y2.H
set_io Tile_X9Y2_I Tile_X9Y2.I
set_io Tile_X9Y2_J Tile_X9Y2.J
set_io Tile_X9Y2_K Tile_X9Y2.K
set_io Tile_X0Y3_A Tile_X0Y3.A
set_io Tile_X0Y3_B Tile_X0Y3.B
set_io Tile_X9Y3_A Tile_X9Y3.A
set_io Tile_X9Y3_B Tile_X9Y3.B
set_io Tile_X9Y3_C Tile_X9Y3.C
set_io Tile_X9Y3_D Tile_X9Y3.D
set_io Tile_X9Y3_E Tile_X9Y3.E
set_io Tile_X9Y3_F Tile_X9Y3.F
set_io Tile_X9Y3_G Tile_X9Y3.G
set_io Tile_X9Y3_H Tile_X9Y3.H
set_io Tile_X9Y3_I Tile_X9Y3.I
set_io Tile_X9Y3_J Tile_X9Y3.J
set_io Tile_X9Y3_K Tile_X9Y3.K
set_io Tile_X0Y4_A Tile_X0Y4.A
set_io Tile_X0Y4_B Tile_X0Y4.B
set_io Tile_X9Y4_A Tile_X9Y4.A
set_io Tile_X9Y4_B Tile_X9Y4.B
set_io Tile_X9Y4_C Tile_X9Y4.C
set_io Tile_X9Y4_D Tile_X9Y4.D
set_io Tile_X9Y4_E Tile_X9Y4.E
set_io Tile_X9Y4_F Tile_X9Y4.F
set_io Tile_X9Y4_G Tile_X9Y4.G
set_io Tile_X9Y4_H Tile_X9Y4.H
set_io Tile_X9Y4_I Tile_X9Y4.I
set_io Tile_X9Y4_J Tile_X9Y4.J
set_io Tile_X9Y4_K Tile_X9Y4.K
set_io Tile_X0Y5_A Tile_X0Y5.A
set_io Tile_X0Y5_B Tile_X0Y5.B
set_io Tile_X9Y5_A Tile_X9Y5.A
set_io Tile_X9Y5_B Tile_X9Y5.B
set_io Tile_X9Y5_C Tile_X9Y5.C
set_io Tile_X9Y5_D Tile_X9Y5.D
set_io Tile_X9Y5_E Tile_X9Y5.E
set_io Tile_X9Y5_F Tile_X9Y5.F
set_io Tile_X9Y5_G Tile_X9Y5.G
set_io Tile_X9Y5_H Tile_X9Y5.H
set_io Tile_X9Y5_I Tile_X9Y5.I
set_io Tile_X9Y5_J Tile_X9Y5.J
set_io Tile_X9Y5_K Tile_X9Y5.K
set_io Tile_X0Y6_A Tile_X0Y6.A
set_io Tile_X0Y6_B Tile_X0Y6.B
set_io Tile_X9Y6_A Tile_X9Y6.A
set_io Tile_X9Y6_B Tile_X9Y6.B
set_io Tile_X9Y6_C Tile_X9Y6.C
set_io Tile_X9Y6_D Tile_X9Y6.D
set_io Tile_X9Y6_E Tile_X9Y6.E
set_io Tile_X9Y6_F Tile_X9Y6.F
set_io Tile_X9Y6_G Tile_X9Y6.G
set_io Tile_X9Y6_H Tile_X9Y6.H
set_io Tile_X9Y6_I Tile_X9Y6.I
set_io Tile_X9Y6_J Tile_X9Y6.J
set_io Tile_X9Y6_K Tile_X9Y6.K
set_io Tile_X0Y7_A Tile_X0Y7.A
set_io Tile_X0Y7_B Tile_X0Y7.B
set_io Tile_X9Y7_A Tile_X9Y7.A
set_io Tile_X9Y7_B Tile_X9Y7.B
set_io Tile_X9Y7_C Tile_X9Y7.C
set_io Tile_X9Y7_D Tile_X9Y7.D
set_io Tile_X9Y7_E Tile_X9Y7.E
set_io Tile_X9Y7_F Tile_X9Y7.F
set_io Tile_X9Y7_G Tile_X9Y7.G
set_io Tile_X9Y7_H Tile_X9Y7.H
set_io Tile_X9Y7_I Tile_X9Y7.I
set_io Tile_X9Y7_J Tile_X9Y7.J
set_io Tile_X9Y7_K Tile_X9Y7.K
set_io Tile_X0Y8_A Tile_X0Y8.A
set_io Tile_X0Y8_B Tile_X0Y8.B
set_io Tile_X9Y8_A Tile_X9Y8.A
set_io Tile_X9Y8_B Tile_X9Y8.B
set_io Tile_X9Y8_C Tile_X9Y8.C
set_io Tile_X9Y8_D Tile_X9Y8.D
set_io Tile_X9Y8_E Tile_X9Y8.E
set_io Tile_X9Y8_F Tile_X9Y8.F
set_io Tile_X9Y8_G Tile_X9Y8.G
set_io Tile_X9Y8_H Tile_X9Y8.H
set_io Tile_X9Y8_I Tile_X9Y8.I
set_io Tile_X9Y8_J Tile_X9Y8.J
set_io Tile_X9Y8_K Tile_X9Y8.K
set_io Tile_X0Y9_A Tile_X0Y9.A
set_io Tile_X0Y9_B Tile_X0Y9.B
set_io Tile_X9Y9_A Tile_X9Y9.A
set_io Tile_X9Y9_B Tile_X9Y9.B
set_io Tile_X9Y9_C Tile_X9Y9.C
set_io Tile_X9Y9_D Tile_X9Y9.D
set_io Tile_X9Y9_E Tile_X9Y9.E
set_io Tile_X9Y9_F Tile_X9Y9.F
set_io Tile_X9Y9_G Tile_X9Y9.G
set_io Tile_X9Y9_H Tile_X9Y9.H
set_io Tile_X9Y9_I Tile_X9Y9.I
set_io Tile_X9Y9_J Tile_X9Y9.J
set_io Tile_X9Y9_K Tile_X9Y9.K
set_io Tile_X0Y10_A Tile_X0Y10.A
set_io Tile_X0Y10_B Tile_X0Y10.B
set_io Tile_X9Y10_A Tile_X9Y10.A
set_io Tile_X9Y10_B Tile_X9Y10.B
set_io Tile_X9Y10_C Tile_X9Y10.C
set_io Tile_X9Y10_D Tile_X9Y10.D
set_io Tile_X9Y10_E Tile_X9Y10.E
set_io Tile_X9Y10_F Tile_X9Y10.F
set_io Tile_X9Y10_G Tile_X9Y10.G
set_io Tile_X9Y10_H Tile_X9Y10.H
set_io Tile_X9Y10_I Tile_X9Y10.I
set_io Tile_X9Y10_J Tile_X9Y10.J
set_io Tile_X9Y10_K Tile_X9Y10.K
set_io Tile_X0Y11_A Tile_X0Y11.A
set_io Tile_X0Y11_B Tile_X0Y11.B
set_io Tile_X9Y11_A Tile_X9Y11.A
set_io Tile_X9Y11_B Tile_X9Y11.B
set_io Tile_X9Y11_C Tile_X9Y11.C
set_io Tile_X9Y11_D Tile_X9Y11.D
set_io Tile_X9Y11_E Tile_X9Y11.E
set_io Tile_X9Y11_F Tile_X9Y11.F
set_io Tile_X9Y11_G Tile_X9Y11.G
set_io Tile_X9Y11_H Tile_X9Y11.H
set_io Tile_X9Y11_I Tile_X9Y11.I
set_io Tile_X9Y11_J Tile_X9Y11.J
set_io Tile_X9Y11_K Tile_X9Y11.K
set_io Tile_X0Y12_A Tile_X0Y12.A
set_io Tile_X0Y12_B Tile_X0Y12.B
set_io Tile_X9Y12_A Tile_X9Y12.A
set_io Tile_X9Y12_B Tile_X9Y12.B
set_io Tile_X9Y12_C Tile_X9Y12.C
set_io Tile_X9Y12_D Tile_X9Y12.D
set_io Tile_X9Y12_E Tile_X9Y12.E
set_io Tile_X9Y12_F Tile_X9Y12.F
set_io Tile_X9Y12_G Tile_X9Y12.G
set_io Tile_X9Y12_H Tile_X9Y12.H
set_io Tile_X9Y12_I Tile_X9Y12.I
set_io Tile_X9Y12_J Tile_X9Y12.J
set_io Tile_X9Y12_K Tile_X9Y12.K
set_io Tile_X0Y13_A Tile_X0Y13.A
set_io Tile_X0Y13_B Tile_X0Y13.B
set_io Tile_X9Y13_A Tile_X9Y13.A
set_io Tile_X9Y13_B Tile_X9Y13.B
set_io Tile_X9Y13_C Tile_X9Y13.C
set_io Tile_X9Y13_D Tile_X9Y13.D
set_io Tile_X9Y13_E Tile_X9Y13.E
set_io Tile_X9Y13_F Tile_X9Y13.F
set_io Tile_X9Y13_G Tile_X9Y13.G
set_io Tile_X9Y13_H Tile_X9Y13.H
set_io Tile_X9Y13_I Tile_X9Y13.I
set_io Tile_X9Y13_J Tile_X9Y13.J
set_io Tile_X9Y13_K Tile_X9Y13.K
set_io Tile_X0Y14_A Tile_X0Y14.A
set_io Tile_X0Y14_B Tile_X0Y14.B
set_io Tile_X9Y14_A Tile_X9Y14.A
set_io Tile_X9Y14_B Tile_X9Y14.B
set_io Tile_X9Y14_C Tile_X9Y14.C
set_io Tile_X9Y14_D Tile_X9Y14.D
set_io Tile_X9Y14_E Tile_X9Y14.E
set_io Tile_X9Y14_F Tile_X9Y14.F
set_io Tile_X9Y14_G Tile_X9Y14.G
set_io Tile_X9Y14_H Tile_X9Y14.H
set_io Tile_X9Y14_I Tile_X9Y14.I
set_io Tile_X9Y14_J Tile_X9Y14.J
set_io Tile_X9Y14_K Tile_X9Y14.K