[submodule "flexbex"]
	path = flexbex
	url = https://github.com/meiniKi/flexbex
	branch = main
[submodule "FABulous"]
	path = FABulous
	url = git@github.com:FPGA-Research-Manchester/FABulous.git
  branch = FABulous2.0-development
